---
import AstralGaialogyApp from '../astral/AstralGaialogyApp.astro';
import { gaialogySigns } from '../../data/astralYear';
---

<section id="gaia-tool" class="gaia-app-page">
  <div class="gaia-app-bleed">
    <AstralGaialogyApp signs={gaialogySigns} />
  </div>
</section>

<style>
  .gaia-app-page {
    padding: 0;
  }

  .gaia-app-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
</style>
